Repository workflow4metabolomics/tools-metabolomics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lecorguille, @melpetera, @mtremblayfr

.github/CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/camera*/*                  @lecorguille
tools/correlation_analysis/*     @melpetera
tools/nmr*/*                     @mtremblayfr @lecorguille
tools/normalization/*            @mtremblayfr @lecorguille
tools/xcms*/*                    @lecorguille

W4M recommended changes
  tools/isoplot/.shed.yml
  tools/isoplot/isoplot.xml
Owners: none

Changed input data labels
  tools/isoplot/isoplot.xml
Owners: none

Fixed test
  tools/isoplot/isoplot.xml
Owners: none

Fixed test
  tools/isoplot/isoplot.xml
Owners: none

changed wrong tool version in xml
  tools/isoplot/isoplot.xml
Owners: none

W4M recommended changes
  tools/isoplot/.shed.yml
  tools/isoplot/isoplot.xml
Owners: none

isoplot ready for review
  tools/isoplot/.shed.yml
  tools/isoplot/isoplot.xml
  tools/isoplot/test-data/data_out.xlsx
  tools/isoplot/test-data/input1.csv
  tools/isoplot/test-data/input2.xlsx
  tools/isoplot/test-data/log_out.txt
  tools/isoplot/test-data/plots_out.zip
Owners: none

Changed input data labels
  tools/isoplot/isoplot.xml
Owners: none

Fixed test
  tools/isoplot/isoplot.xml
  tools/isoplot/test-data/data_out.csv
  tools/isoplot/test-data/data_out.xlsx
  tools/isoplot/test-data/input_data.csv
  tools/isoplot/test-data/input_template.xlsx
  tools/isoplot/test-data/log_out.txt
  tools/isoplot/test-data/plots_out.zip
Owners: none

Removed spaces after commas for input/output formats
  tools/isoplot/isoplot.xml
Owners: none

Removed spaces after commas for input/output formats
  tools/isoplot/isoplot.xml
Owners: none

Removed spaces after commas for input/output formats
  tools/isoplot/isoplot.xml
Owners: none

add gitignore additions
  .gitignore
Owners: none

changes to camera
  tools/camera_annotate/abims_CAMERA_annotateDiffreport.xml
  tools/camera_annotate/repository_dependencies.xml
  tools/camera_combinexsannos/abims_CAMERA_combinexsAnnos.xml
  tools/camera_combinexsannos/repository_dependencies.xml
  tools/camera_macro/macros.xml
  tools/camera_macro/repository_dependencies.xml
  tools/camera_repository_suite/repository_dependencies.xml
Owners: @lecorguille

bump verion
  tools/camera_annotate/abims_CAMERA_annotateDiffreport.xml
  tools/camera_combinexsannos/abims_CAMERA_combinexsAnnos.xml
Owners: @lecorguille

remove travis
  README.md
Owners: none

Update Galaxy to 21.09 in the CI
  .github/workflows/pr.yaml
Owners: none

remove travis
  README.md
Owners: none

Delete repository_dependencies.xml
  tools/camera_macro/repository_dependencies.xml
Owners: @lecorguille

Change of column number for metabolite name following modifications in the Peakforest DB
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
Owners: @mtremblayfr, @lecorguille

First commit
  tools/Metgem/README.rst
Owners: none

Create .shed.yml
  tools/Metgem/.shed.yml
Owners: none

Correction of bugs on Peakforest DB requests and new output files with Threshold=0.3 and Unicity=No
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/test-data/2DNMR_Annotation_annotationCombination.tabular
  tools/nmr_annotation2d/test-data/2DNMR_Annotation_log.txt
  tools/nmr_annotation2d/test-data/AnnotationGraph.pdf
  tools/nmr_annotation2d/test-data/annotationCOSY.tabular
  tools/nmr_annotation2d/test-data/annotationCosy.tabular
  tools/nmr_annotation2d/test-data/annotationHMBC.tabular
  tools/nmr_annotation2d/test-data/annotationHSQC.tabular
  tools/nmr_annotation2d/test-data/annotationHmbc.tabular
  tools/nmr_annotation2d/test-data/annotationHsqc.tabular
  tools/nmr_annotation2d/test-data/annotationJRES.tabular
  tools/nmr_annotation2d/test-data/annotationJres.tabular
  tools/nmr_annotation2d/test-data/annotationTOCSY.tabular
  tools/nmr_annotation2d/test-data/duplicateHmbc.tabular
  tools/nmr_annotation2d/test-data/duplicateHsqc.tabular
  tools/nmr_annotation2d/test-data/duplicateJres.tabular
  tools/nmr_annotation2d/test-data/duplicateTocsy.tabular
  tools/nmr_annotation2d/test-data/ppmCommunCOSY.tabular
  tools/nmr_annotation2d/test-data/ppmCommunHMBC.tabular
  tools/nmr_annotation2d/test-data/ppmCommunHSQC.tabular
  tools/nmr_annotation2d/test-data/ppmCommunJRES.tabular
  tools/nmr_annotation2d/test-data/ppmCommunTOCSY.tabular
Owners: @mtremblayfr, @lecorguille

Output files for tests
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationCOSY.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationCombination.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationHMBC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationHSQC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationJRES.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationTocsy.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateCOSY.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateHMBC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateHSQC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateJRES.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateTocsy.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_graph.pdf
  tools/nmr_annotation2d/test-data/Template_melange.xlsx
  tools/nmr_annotation2d/test-data/logOut.txt
Owners: none

Change of the parameter 'unicity'
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille

Annotation based on the PeakForest DB: replacement of R objects by requests on PeakForest; add of constraints on pH and magnetic field to reduce compound list used to annotate
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille

Removal of unused output files
  tools/nmr_annotation2d/test-data/duplicateHsqc.tabular
  tools/nmr_annotation2d/test-data/duplicateJres.tabular
Owners: none

Output files updates with results based on the new version of annotation algorithm (Peakforest DB requests)
  tools/nmr_annotation2d/test-data/2DNMR_Annotation_annotationCombination.tabular
  tools/nmr_annotation2d/test-data/2DNMR_Annotation_log.txt
  tools/nmr_annotation2d/test-data/Template_melange.xlsm
  tools/nmr_annotation2d/test-data/annotationCosy.tabular
  tools/nmr_annotation2d/test-data/annotationHmbc.tabular
  tools/nmr_annotation2d/test-data/annotationHsqc.tabular
  tools/nmr_annotation2d/test-data/annotationJres.tabular
  tools/nmr_annotation2d/test-data/annotationTocsy.tabular
Owners: none

Extended test to all 2D NMR sequences and add of generated output files
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
  tools/nmr_annotation2d/test-data/duplicateCosy.tabular
  tools/nmr_annotation2d/test-data/duplicateHmbc.tabular
  tools/nmr_annotation2d/test-data/duplicateHsqc.tabular
  tools/nmr_annotation2d/test-data/duplicateJres.tabular
  tools/nmr_annotation2d/test-data/duplicateTocsy.tabular
Owners: @mtremblayfr, @lecorguille

Change of column number for metabolite name following modifications in the Peakforest DB
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
Owners: @mtremblayfr, @lecorguille

Correction of bugs on Peakforest DB requests and new output files with Threshold=0.3 and Unicity=No
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/test-data/2DNMR_Annotation_annotationCombination.tabular
  tools/nmr_annotation2d/test-data/2DNMR_Annotation_log.txt
  tools/nmr_annotation2d/test-data/AnnotationGraph.pdf
  tools/nmr_annotation2d/test-data/annotationCOSY.tabular
  tools/nmr_annotation2d/test-data/annotationCosy.tabular
  tools/nmr_annotation2d/test-data/annotationHMBC.tabular
  tools/nmr_annotation2d/test-data/annotationHSQC.tabular
  tools/nmr_annotation2d/test-data/annotationHmbc.tabular
  tools/nmr_annotation2d/test-data/annotationHsqc.tabular
  tools/nmr_annotation2d/test-data/annotationJRES.tabular
  tools/nmr_annotation2d/test-data/annotationJres.tabular
  tools/nmr_annotation2d/test-data/annotationTOCSY.tabular
  tools/nmr_annotation2d/test-data/duplicateHmbc.tabular
  tools/nmr_annotation2d/test-data/duplicateHsqc.tabular
  tools/nmr_annotation2d/test-data/duplicateJres.tabular
  tools/nmr_annotation2d/test-data/duplicateTocsy.tabular
  tools/nmr_annotation2d/test-data/ppmCommunCOSY.tabular
  tools/nmr_annotation2d/test-data/ppmCommunHMBC.tabular
  tools/nmr_annotation2d/test-data/ppmCommunHSQC.tabular
  tools/nmr_annotation2d/test-data/ppmCommunJRES.tabular
  tools/nmr_annotation2d/test-data/ppmCommunTOCSY.tabular
Owners: @mtremblayfr, @lecorguille

Output files for tests
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationCOSY.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationCombination.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationHMBC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationHSQC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationJRES.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_annotationTocsy.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateCOSY.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateHMBC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateHSQC.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateJRES.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_duplicateTocsy.tabular
  tools/nmr_annotation2d/test-data/2DNMRAnnotation_graph.pdf
  tools/nmr_annotation2d/test-data/Template_melange.xlsx
  tools/nmr_annotation2d/test-data/logOut.txt
Owners: none

Change of the parameter 'unicity'
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille

nmr_annotation2d - fix lintr multibyte
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
Owners: @mtremblayfr, @lecorguille

Changes from lintR warnings
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/viridis.R
Owners: @mtremblayfr, @lecorguille

Fix syntax according to lintr
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/viridis.R
Owners: @mtremblayfr, @lecorguille

lintr corrections
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
Owners: @mtremblayfr, @lecorguille

Changes from lintR warnings
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
Owners: @mtremblayfr, @lecorguille

lintR corrections
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
Owners: @mtremblayfr, @lecorguille

lintR changes
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille
