Repository workflow4metabolomics/tools-metabolomics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lecorguille, @melpetera, @mtremblayfr

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

Update mzXMLMetadataCollector.py
  tools/mzxmlmetadatacollector/mzXMLMetadataCollector.py
Owners: none

add required files for pulsar
  tools/xcms/msnbase_readmsdata.xml
Owners: @lecorguille

bump version
  tools/xcms/msnbase_readmsdata.xml
Owners: @lecorguille

Use of an in-house function to parse arguments instead of the R batch library
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille

include missing required files for the rest of the tools in repo
  tools/camera/abims_CAMERA_annotateDiffreport.xml
  tools/camera/abims_CAMERA_combinexsAnnos.xml
  tools/camera/macros.xml
  tools/correlation_analysis/abims_correlation_analysis.xml
  tools/ipo/ipo4retgroup.xml
  tools/ipo/ipo4xcmsSet.xml
  tools/kmd_hmdb_data_plot/kmd_hmdb_data_plot.xml
  tools/mixmodel4repeated_measures/mixmodel.xml
  tools/ms2snoop/MS2snoop.xml
  tools/ms2snoop/macros.xml
  tools/mzxmlshaper/mzXMLShaper.xml
  tools/nmr_annotation/asics_xml.xml
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
  tools/nmr_preprocessing/NmrPreprocessing_xml.xml
  tools/nmr_preprocessing/ReadFids_xml.xml
  tools/normalization/NmrNormalization_xml.xml
  tools/w4mconcatenate/concat.xml
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/abims_xcms_group.xml
  tools/xcms/abims_xcms_refine.xml
  tools/xcms/abims_xcms_retcor.xml
  tools/xcms/abims_xcms_summary.xml
  tools/xcms/abims_xcms_xcmsSet.xml
  tools/xcms/macros_xcms.xml
  tools/xcms/xcms_export_samplemetadata.xml
  tools/xcms/xcms_merge.xml
  tools/xcms/xcms_plot_chromatogram.xml
Owners: @lecorguille, @melpetera, @mtremblayfr

include missing requirement for click
  tools/kmd_hmdb_data_plot/kmd_hmdb_data_plot.xml
Owners: none

fix double and triple slashes
  tools/camera/abims_CAMERA_annotateDiffreport.xml
  tools/camera/abims_CAMERA_combinexsAnnos.xml
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/abims_xcms_group.xml
  tools/xcms/abims_xcms_refine.xml
  tools/xcms/abims_xcms_retcor.xml
  tools/xcms/abims_xcms_summary.xml
  tools/xcms/abims_xcms_xcmsSet.xml
  tools/xcms/msnbase_readmsdata.xml
  tools/xcms/xcms_export_samplemetadata.xml
  tools/xcms/xcms_merge.xml
  tools/xcms/xcms_plot_chromatogram.xml
Owners: @lecorguille

fixed genform tests
  tools/genform/genform.xml
Owners: none

fixed correlation analysis linting
  tools/correlation_analysis/abims_correlation_analysis.xml
Owners: @melpetera

fix lint genform
  tools/genform/genform.xml
Owners: none

fixed ipo tests
  tools/ipo/test-data/faahKO_IPO_parameters4retgroup_bw.tsv
Owners: none

small upatdes, tool is broken though
  tools/isoplot/isoplot.xml
Owners: none

added citation to fix linting
  tools/kmd_hmdb_data_plot/kmd_hmdb_data_plot.xml
Owners: none

fixed linting by adding citation
  tools/ms2snoop/MS2snoop.xml
  tools/ms2snoop/macros.xml
Owners: none

fixed linting and tests
  tools/ms2snoop/MS2snoop.xml
Owners: none

added explicitly needed libfortran dep
  tools/nmr_annotation/asics_xml.xml
Owners: @mtremblayfr, @lecorguille

sync CI with IUC
  .github/PULL_REQUEST_TEMPLATE.md
  .github/styler.R
  .github/workflows/pr.yaml
Owners: none

move massbank search
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/.shed.yml
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/README.md
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/README.txt
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/conf_massbank.cfg
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/lib/conf.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/lib/csv.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/lib/mapper.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/lib/massbank_api.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/lib/massbank_parser.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/lib/threader.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/lib/writter.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/massbank.tmpl
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/massbank_ws_searchspectrum.pl
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/massbank_ws_searchspectrum.xml
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/t/lib/massbank_api_Test.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/t/lib/massbank_main_Test.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/t/lib/massbank_mapper_Test.pm
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/t/massbank_ws_searchspectrum_Test.t
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/test-data/input01_69-pcgroups-mz-relative_int.tabular
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/test-data/input02_2214-mz-int-pcgroups.tabular
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/test-data/input03_1mz-1pcgroup-mz-relative_int.tabular
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/test-data/out_test01.html
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/test-data/out_test01.json
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/test-data/out_test01.tabular
  tools/wrapper-bank-massbank-spectrum_search-dev_fg/test-data/out_test01.txt
Owners: none

sync CI with IUC (#282)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/styler.R
  .github/workflows/pr.yaml
Owners: none

fixed test deps
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille

updated test and test-data
  tools/nmr_preprocessing/NmrPreprocessing_xml.xml
  tools/nmr_preprocessing/test-data/NMR_Preprocessing_dataMatrix.tabular
Owners: @mtremblayfr, @lecorguille

fixed normalization
  tools/normalization/NmrNormalization_xml.xml
Owners: @mtremblayfr, @lecorguille

add required files for pulsar
  tools/xcms/msnbase_readmsdata.xml
Owners: @lecorguille

include missing requirement for click
  tools/kmd_hmdb_data_plot/kmd_hmdb_data_plot.xml
Owners: none

include missing required files for the rest of the tools in repo
  tools/camera/abims_CAMERA_annotateDiffreport.xml
  tools/camera/abims_CAMERA_combinexsAnnos.xml
  tools/camera/macros.xml
  tools/correlation_analysis/abims_correlation_analysis.xml
  tools/ipo/ipo4retgroup.xml
  tools/ipo/ipo4xcmsSet.xml
  tools/kmd_hmdb_data_plot/kmd_hmdb_data_plot.xml
  tools/mixmodel4repeated_measures/mixmodel.xml
  tools/ms2snoop/MS2snoop.xml
  tools/ms2snoop/macros.xml
  tools/mzxmlshaper/mzXMLShaper.xml
  tools/nmr_annotation/asics_xml.xml
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
  tools/nmr_preprocessing/NmrPreprocessing_xml.xml
  tools/nmr_preprocessing/ReadFids_xml.xml
  tools/normalization/NmrNormalization_xml.xml
  tools/w4mconcatenate/concat.xml
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/abims_xcms_group.xml
  tools/xcms/abims_xcms_refine.xml
  tools/xcms/abims_xcms_retcor.xml
  tools/xcms/abims_xcms_summary.xml
  tools/xcms/abims_xcms_xcmsSet.xml
  tools/xcms/macros_xcms.xml
  tools/xcms/xcms_export_samplemetadata.xml
  tools/xcms/xcms_merge.xml
  tools/xcms/xcms_plot_chromatogram.xml
Owners: @lecorguille, @melpetera, @mtremblayfr

bump version
  tools/xcms/msnbase_readmsdata.xml
Owners: @lecorguille

fix double and triple slashes
  tools/camera/abims_CAMERA_annotateDiffreport.xml
  tools/camera/abims_CAMERA_combinexsAnnos.xml
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/abims_xcms_group.xml
  tools/xcms/abims_xcms_refine.xml
  tools/xcms/abims_xcms_retcor.xml
  tools/xcms/abims_xcms_summary.xml
  tools/xcms/abims_xcms_xcmsSet.xml
  tools/xcms/msnbase_readmsdata.xml
  tools/xcms/xcms_export_samplemetadata.xml
  tools/xcms/xcms_merge.xml
  tools/xcms/xcms_plot_chromatogram.xml
Owners: @lecorguille

ms2snoop linting fix
  tools/ms2snoop/.shed.yml
Owners: none

added homepage url to isoplot
  tools/isoplot/.shed.yml
Owners: none

lint r scripts
  tools/camera/CAMERA_annotateDiffreport.r
  tools/camera/CAMERA_combinexsAnnos.r
  tools/camera/CAMERA_findAdducts.R
  tools/camera/CAMERA_findIsotopes.R
  tools/camera/CAMERA_groupCorr.R
  tools/camera/CAMERA_groupFWHM.R
  tools/camera/lib.r
  tools/correlation_analysis/correlation_analysis.r
  tools/ipo/ipo4retgroup.r
  tools/ipo/ipo4xcmsSet.r
  tools/ipo/lib.r
  tools/mixmodel4repeated_measures/mixmodel_script.R
  tools/mixmodel4repeated_measures/mixmodel_wrapper.R
Owners: @lecorguille, @melpetera

more R script linting
  tools/ms2snoop/MS2snoop.R
  tools/mzxmlshaper/mzXMLShaper.R
  tools/nmr_annotation/DrawSpec.R
  tools/nmr_annotation/asics_wrapper.R
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/viridis.R
  tools/nmr_preprocessing/DrawFunctions.R
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids_script.R
  tools/nmr_preprocessing/ReadFids_wrapper.R
  tools/normalization/DrawSpec.R
  tools/normalization/NmrNormalization_script.R
  tools/normalization/NmrNormalization_wrapper.R
  tools/w4mconcatenate/concatenation.R
  tools/w4mconcatenate/concatenation_wrapper.R
  tools/w4mconcatenate/fonctions_auxiliaires.R
  tools/xcms/faahKO_4datasets.r
  tools/xcms/lib.r
  tools/xcms/msnbase_readmsdata.r
  tools/xcms/xcms_export_samplemetadata.r
  tools/xcms/xcms_fillpeaks.r
  tools/xcms/xcms_group.r
  tools/xcms/xcms_merge.r
  tools/xcms/xcms_plot_chromatogram.r
  tools/xcms/xcms_refine.r
  tools/xcms/xcms_retcor.r
  tools/xcms/xcms_summary.r
  tools/xcms/xcms_xcmsSet.r
Owners: @mtremblayfr, @lecorguille

more r linting
  tools/mixmodel4repeated_measures/diagmfl.R
  tools/mixmodel4repeated_measures/mixmodel_script.R
  tools/nmr_annotation/asics_wrapper.R
Owners: @mtremblayfr, @lecorguille

changed test and removed big test data file
  tools/nmr_preprocessing/NmrPreprocessing_xml.xml
  tools/nmr_preprocessing/test-data/NMR_Preprocessing_dataMatrix.tabular
Owners: @mtremblayfr, @lecorguille

.github/CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/camera*/*                  @lecorguille
tools/correlation_analysis/*     @melpetera
tools/nmr*/*                     @mtremblayfr @lecorguille
tools/normalization/*            @mtremblayfr @lecorguille
tools/xcms*/*                    @lecorguille
