Repository workflow4metabolomics/tools-metabolomics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lecorguille, @melpetera, @mtremblayfr

.github/CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/camera*/*                  @lecorguille
tools/correlation_analysis/*     @melpetera
tools/nmr*/*                     @mtremblayfr @lecorguille
tools/normalization/*            @mtremblayfr @lecorguille
tools/xcms*/*                    @lecorguille

Correction of bugs
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
Owners: @mtremblayfr, @lecorguille

Lint
  tools/nmr_annotation2d/annotationRmn2D.R
  tools/nmr_annotation2d/annotationRmn2DGlobale.R
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/viridis.R
Owners: @mtremblayfr, @lecorguille

Correction of bugs
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille

fix indentation
  tools/ipo/lib.r
Owners: none

more indentation fixes
  tools/ipo/lib.r
Owners: none

more indentation fixes
  tools/camera/CAMERA_combinexsAnnos.r
Owners: @lecorguille

more indentation fixes
  tools/ipo/lib.r
Owners: none

fix r bug
  tools/ipo/lib.r
Owners: none

fix indentation
  tools/ipo/lib.r
Owners: none

restructure: camera combinexsannos
  tools/camera/.shed.yml
  tools/camera/CAMERA_combinexsAnnos.r
  tools/camera/abims_CAMERA_combinexsAnnos.xml
  tools/camera/static/images/combinexsannos_variableMetadata.png
  tools/camera/static/images/combinexsannos_workflow.png
  tools/camera/static/images/combinexsannos_workflow_zoom.png
  tools/camera/test-data/faahOK.xset.group.retcor.group.fillPeaks.annotate.negative.Rdata
  tools/camera/test-data/faahOK.xset.group.retcor.group.fillPeaks.annotate.positive.Rdata
  tools/camera/test-data/faahOK.xset.group.retcor.group.fillPeaks.annotate.positive.combinexsAnnos.variableMetadata.tsv
  tools/camera_combinexsannos/.shed.yml
  tools/camera_combinexsannos/README.rst
  tools/camera_combinexsannos/lib.r
  tools/camera_combinexsannos/macros.xml
Owners: @lecorguille

camera: fix tool linter warning
  tools/camera/abims_CAMERA_annotateDiffreport.xml
Owners: @lecorguille

restructure: camera suite
  tools/camera/.shed.yml
  tools/camera/test-data/CASMI_extended_POS_rules.csv
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.dataMatrix.tsv
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.rules.dataMatrix.tsv
  tools/camera_repository_suite/.shed.yml
  tools/camera_repository_suite/repository_dependencies.xml
Owners: @lecorguille

rename .name to .element_identifier
  tools/camera_annotate/abims_CAMERA_annotateDiffreport.xml
  tools/camera_annotate/repository_dependencies.xml
  tools/camera_combinexsannos/abims_CAMERA_combinexsAnnos.xml
  tools/camera_combinexsannos/repository_dependencies.xml
  tools/camera_macro/macros.xml
  tools/camera_repository_suite/repository_dependencies.xml
  tools/influx_si/influx_si.xml
  tools/ipo/ipo4xcmsSet.xml
Owners: @lecorguille

lintr
  tools/camera_annotate/CAMERA_annotateDiffreport.r
  tools/camera_combinexsannos/CAMERA_combinexsAnnos.r
  tools/camera_macro/lib.r
  tools/ipo/ipo4retgroup.r
  tools/ipo/ipo4xcmsSet.r
  tools/ipo/lib.r
Owners: @lecorguille

more indentation fixes
  tools/camera/CAMERA_combinexsAnnos.r
Owners: @lecorguille

influs_si: fix tests
  tools/influx_si/influx_si.xml
Owners: none

restructure: camera annotate
  tools/camera/.shed.yml
  tools/camera/CAMERA_annotateDiffreport.r
  tools/camera/abims_CAMERA_annotateDiffreport.xml
  tools/camera/lib.r
  tools/camera/macros.xml
  tools/camera/static/images/annotate_workflow.png
  tools/camera/static/images/annotatediffreport_box.png
  tools/camera/static/images/annotatediffreport_box1.png
  tools/camera/static/images/annotatediffreport_dataMatrix.png
  tools/camera/static/images/annotatediffreport_eic.png
  tools/camera/static/images/annotatediffreport_eic1.png
  tools/camera/static/images/annotatediffreport_variableMetadata.png
  tools/camera/static/images/annotatediffreport_workflow.png
  tools/camera/test-data/CASMI_extended_NEG_rules.csv
  tools/camera/test-data/faahKO-single-class.xset.merged.group.retcor.group.fillpeaks.RData
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.rules.variableMetadata.tsv
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.variableMetadata.tsv
  tools/camera/test-data/ko15-raw.RData
  tools/camera/test-data/ko15-xset.RData
  tools/camera/test-data/ko15.CDF
  tools/camera/test-data/ko16-raw.RData
  tools/camera/test-data/ko16-xset.RData
  tools/camera/test-data/ko16.CDF
  tools/camera/test-data/wt15-raw.RData
  tools/camera/test-data/wt15-xset.RData
  tools/camera/test-data/wt15.CDF
  tools/camera/test-data/wt16-raw.RData
  tools/camera/test-data/wt16-xset.RData
  tools/camera/test-data/wt16.CDF
  tools/camera_annotate/.shed.yml
  tools/camera_annotate/README.rst
  tools/camera_annotate/lib.r
  tools/camera_annotate/macros.xml
  tools/camera_annotate/test-data/faahKO-single-class.xset.merged.group.retcor.group.fillpeaks.RData
  tools/camera_annotate/test-data/ko15.CDF
  tools/camera_annotate/test-data/ko16.CDF
  tools/camera_annotate/test-data/wt15.CDF
  tools/camera_annotate/test-data/wt16.CDF
Owners: @lecorguille

reset version token add suffix token
  tools/xcms_export_samplemetadata/xcms_export_samplemetadata.xml
  tools/xcms_fillpeaks/abims_xcms_fillPeaks.xml
  tools/xcms_group/abims_xcms_group.xml
  tools/xcms_macro/macros_xcms.xml
  tools/xcms_merge/xcms_merge.xml
  tools/xcms_plot_chromatogram/xcms_plot_chromatogram.xml
  tools/xcms_refine/abims_xcms_refine.xml
  tools/xcms_retcor/abims_xcms_retcor.xml
  tools/xcms_summary/abims_xcms_summary.xml
  tools/xcms_xcmsset/abims_xcms_xcmsSet.xml
Owners: @lecorguille

more R linter fixes
  tools/msnbase_readmsdata/msnbase_readmsdata.r
Owners: none

remove datatypes
  deprecated/datatypes/datatype_no_unzip/.shed.yml
  deprecated/datatypes/datatype_no_unzip/README
  deprecated/datatypes/datatype_no_unzip/datatypes_conf.xml
  deprecated/datatypes/datatype_no_unzip/no_unzip_datatypes.py
  deprecated/datatypes/datatype_rdata_camera/.shed.yml
  deprecated/datatypes/datatype_rdata_camera/datatypes_conf.xml
  deprecated/datatypes/datatype_rdata_camera/rdata_camera_datatype.py
  deprecated/datatypes/datatype_rdata_xcms/.shed.yml
  deprecated/datatypes/datatype_rdata_xcms/datatypes_conf.xml
  deprecated/datatypes/datatype_rdata_xcms/rdata_xcms_datatype.py
  deprecated/datatypes/datatype_zip/.shed.yml
  deprecated/datatypes/datatype_zip/datatypes_conf.xml
  tools/msnbase_readmsdata/msnbase_readmsdata.xml
  tools/msnbase_readmsdata/repository_dependencies.xml
  tools/xcms_export_samplemetadata/repository_dependencies.xml
  tools/xcms_fillpeaks/repository_dependencies.xml
  tools/xcms_group/repository_dependencies.xml
  tools/xcms_macro/macros_xcms.xml
  tools/xcms_macro/repository_dependencies.xml
  tools/xcms_merge/repository_dependencies.xml
  tools/xcms_plot_chromatogram/repository_dependencies.xml
  tools/xcms_refine/repository_dependencies.xml
  tools/xcms_repository_suite/repository_dependencies.xml
  tools/xcms_retcor/repository_dependencies.xml
  tools/xcms_summary/repository_dependencies.xml
  tools/xcms_xcmsset/repository_dependencies.xml
Owners: @lecorguille

xcms datatypes are now in galaxy
  tools/xcms_macro/repository_dependencies.xml
Owners: @lecorguille

fix output
  tools/xcms_xcmsset/abims_xcms_xcmsSet.xml
Owners: @lecorguille

xcms: use element identifier
  tools/xcms_macro/macros_xcms.xml
Owners: @lecorguille

add profile
  tools/xcms_export_samplemetadata/xcms_export_samplemetadata.xml
  tools/xcms_fillpeaks/abims_xcms_fillPeaks.xml
  tools/xcms_group/abims_xcms_group.xml
  tools/xcms_macro/macros_xcms.xml
  tools/xcms_merge/xcms_merge.xml
  tools/xcms_plot_chromatogram/xcms_plot_chromatogram.xml
  tools/xcms_refine/abims_xcms_refine.xml
  tools/xcms_retcor/abims_xcms_retcor.xml
  tools/xcms_summary/abims_xcms_summary.xml
  tools/xcms_xcmsset/abims_xcms_xcmsSet.xml
Owners: @lecorguille

msnbase remove outdated link and docs
  tools/msnbase_readmsdata/msnbase_readmsdata.xml
Owners: none

fix linter warnings
  tools/xcms_group/abims_xcms_group.xml
  tools/xcms_macro/macros_xcms.xml
  tools/xcms_refine/abims_xcms_refine.xml
Owners: @lecorguille

fix R linter errors
  tools/xcms_export_samplemetadata/xcms_export_samplemetadata.r
  tools/xcms_fillpeaks/xcms_fillpeaks.r
  tools/xcms_group/xcms_group.r
  tools/xcms_macro/lib.r
  tools/xcms_merge/xcms_merge.r
  tools/xcms_plot_chromatogram/xcms_plot_chromatogram.r
  tools/xcms_refine/xcms_refine.r
  tools/xcms_retcor/xcms_retcor.r
  tools/xcms_summary/xcms_summary.r
  tools/xcms_xcmsset/xcms_xcmsSet.r
Owners: @lecorguille

update workflow
  .github/workflows/pr.yaml
Owners: none

restructure: export_samplemetadata
  tools/xcms/.shed.yml
  tools/xcms/README.rst
  tools/xcms/lib.r
  tools/xcms/macros.xml
  tools/xcms/macros_xcms.xml
  tools/xcms/static/images/xcms_merge_workflow.png
  tools/xcms/test-data/ko15-xset.RData
  tools/xcms/test-data/ko16-xset.RData
  tools/xcms/test-data/noclass.merged.sampleMetadata.tsv
  tools/xcms/test-data/wt15-xset.RData
  tools/xcms/test-data/wt16-xset.RData
  tools/xcms/xcms_export_samplemetadata.r
  tools/xcms/xcms_export_samplemetadata.xml
  tools/xcms_export_samplemetadata/.shed.yml
  tools/xcms_export_samplemetadata/lib.r
  tools/xcms_export_samplemetadata/macros.xml
  tools/xcms_export_samplemetadata/macros_xcms.xml
  tools/xcms_export_samplemetadata/test-data/ko15-xset.RData
  tools/xcms_export_samplemetadata/test-data/ko16-xset.RData
  tools/xcms_export_samplemetadata/test-data/wt15-xset.RData
  tools/xcms_export_samplemetadata/test-data/wt16-xset.RData
Owners: @lecorguille

restructure: fillpeaks
  tools/xcms/.shed.yml
  tools/xcms/README.rst
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/static/images/xcms_fillpeaks_workflow.png
  tools/xcms/test-data/faahKO-single-class.xset.group.retcor.group.fillPeaks.dataMatrix.NAless.tsv
  tools/xcms/test-data/faahKO-single-class.xset.group.retcor.group.fillPeaks.variableMetadata.tsv
  tools/xcms/test-data/faahKO-single-class.xset.merged.group.RData
  tools/xcms/test-data/faahKO-single-class.xset.merged.group.retcor.group.RData
  tools/xcms/test-data/ko15.CDF
  tools/xcms/test-data/ko16.CDF
  tools/xcms/test-data/wt15.CDF
  tools/xcms/test-data/wt16.CDF
  tools/xcms/xcms_fillpeaks.r
  tools/xcms_fillpeaks/.shed.yml
  tools/xcms_fillpeaks/README.rst
  tools/xcms_fillpeaks/lib.r
  tools/xcms_fillpeaks/macros.xml
  tools/xcms_fillpeaks/macros_xcms.xml
  tools/xcms_fillpeaks/test-data/faahKO-single-class.xset.merged.group.retcor.group.RData
  tools/xcms_fillpeaks/test-data/ko15.CDF
  tools/xcms_fillpeaks/test-data/ko16.CDF
  tools/xcms_fillpeaks/test-data/wt15.CDF
  tools/xcms_fillpeaks/test-data/wt16.CDF
Owners: @lecorguille

restructure: retcor
  tools/xcms/.shed.yml
  tools/xcms/abims_xcms_retcor.xml
  tools/xcms/static/images/xcms_retcor.png
  tools/xcms/static/images/xcms_retcor_workflow.png
  tools/xcms/xcms_retcor.r
  tools/xcms_retcor/.shed.yml
  tools/xcms_retcor/README.rst
  tools/xcms_retcor/lib.r
  tools/xcms_retcor/macros.xml
  tools/xcms_retcor/macros_xcms.xml
  tools/xcms_retcor/test-data/faahKO-single-class.xset.merged.group.RData
  tools/xcms_retcor/test-data/ko15.CDF
  tools/xcms_retcor/test-data/ko16.CDF
  tools/xcms_retcor/test-data/wt15.CDF
  tools/xcms_retcor/test-data/wt16.CDF
Owners: @lecorguille

restructure: merge
  tools/xcms/.shed.yml
  tools/xcms/test-data/sampleMetadata.tab
  tools/xcms/test-data/sampleMetadata_missing.tab
  tools/xcms/xcms_merge.r
  tools/xcms/xcms_merge.xml
  tools/xcms_merge/.shed.yml
  tools/xcms_merge/README.rst
  tools/xcms_merge/lib.r
  tools/xcms_merge/macros.xml
  tools/xcms_merge/macros_xcms.xml
  tools/xcms_merge/static/images/xcms_merge_workflow.png
  tools/xcms_merge/test-data/ko15-xset.RData
  tools/xcms_merge/test-data/ko15.CDF
  tools/xcms_merge/test-data/ko16-xset.RData
  tools/xcms_merge/test-data/ko16.CDF
  tools/xcms_merge/test-data/noclass.merged.sampleMetadata.tsv
  tools/xcms_merge/test-data/wt15-xset.RData
  tools/xcms_merge/test-data/wt15.CDF
  tools/xcms_merge/test-data/wt16-xset.RData
  tools/xcms_merge/test-data/wt16.CDF
Owners: @lecorguille

restructure: group
  tools/xcms/.shed.yml
  tools/xcms/README.rst
  tools/xcms/abims_xcms_group.xml
  tools/xcms/static/images/xcms_group.png
  tools/xcms/static/images/xcms_group_workflow.png
  tools/xcms/test-data/faahKO-single-class.xset.merged.group.retcor.RData
  tools/xcms/test-data/faahKO.xset.group.dataMatrix.tsv
  tools/xcms/test-data/faahKO.xset.group.variableMetadata.tsv
  tools/xcms/xcms_group.r
  tools/xcms_group/.shed.yml
  tools/xcms_group/README.rst
  tools/xcms_group/lib.r
  tools/xcms_group/macros.xml
  tools/xcms_group/macros_xcms.xml
  tools/xcms_group/test-data/faahKO-single-class.xset.merged.group.retcor.RData
  tools/xcms_group/test-data/ko15.CDF
  tools/xcms_group/test-data/ko16.CDF
  tools/xcms_group/test-data/wt15.CDF
  tools/xcms_group/test-data/wt16.CDF
Owners: @lecorguille

restructure: refine & plot chromatogram
  tools/xcms/.shed.yml
  tools/xcms/abims_xcms_refine.xml
  tools/xcms/static/images/xcms_plot_chromatogram_workflow.png
  tools/xcms/test-data/BPIs.pdf
  tools/xcms/test-data/TICs.pdf
  tools/xcms/xcms_plot_chromatogram.r
  tools/xcms/xcms_plot_chromatogram.xml
  tools/xcms/xcms_refine.r
  tools/xcms_plot_chromatogram/.shed.yml
  tools/xcms_plot_chromatogram/README.rst
  tools/xcms_plot_chromatogram/lib.r
  tools/xcms_plot_chromatogram/macros.xml
  tools/xcms_plot_chromatogram/macros_xcms.xml
  tools/xcms_plot_chromatogram/test-data/faahKO-single-class.xset.merged.group.retcor.RData
  tools/xcms_plot_chromatogram/test-data/ko15.CDF
  tools/xcms_plot_chromatogram/test-data/ko16.CDF
  tools/xcms_plot_chromatogram/test-data/sampleMetadata.tab
  tools/xcms_plot_chromatogram/test-data/wt15.CDF
  tools/xcms_plot_chromatogram/test-data/wt16.CDF
  tools/xcms_refine/.shed.yml
  tools/xcms_refine/README.rst
  tools/xcms_refine/lib.r
  tools/xcms_refine/macros.xml
  tools/xcms_refine/macros_xcms.xml
  tools/xcms_refine/test-data/faahKO-single.xset.merged.RData
  tools/xcms_refine/test-data/faahKO_reduce.zip
  tools/xcms_refine/test-data/ko15.CDF
  tools/xcms_refine/test-data/ko16.CDF
  tools/xcms_refine/test-data/wt15.CDF
  tools/xcms_refine/test-data/wt16.CDF
Owners: @lecorguille

restructure: set
  tools/xcms/.shed.yml
  tools/xcms/abims_xcms_xcmsSet.xml
  tools/xcms/destinations_input_type.py
  tools/xcms/job_conf.xml.sample
  tools/xcms/static/images/xcms_tics.png
  tools/xcms/static/images/xcms_xcmsset_workflow.png
  tools/xcms/test-data/ko15-raw.RData
  tools/xcms/test-data/ko16-raw.RData
  tools/xcms/test-data/roiList.txt
  tools/xcms/xcms_xcmsSet.r
  tools/xcms_xcmsset/.shed.yml
  tools/xcms_xcmsset/README.rst
  tools/xcms_xcmsset/lib.r
  tools/xcms_xcmsset/macros.xml
  tools/xcms_xcmsset/macros_xcms.xml
  tools/xcms_xcmsset/test-data/ko15-raw.RData
  tools/xcms_xcmsset/test-data/ko15.CDF
Owners: @lecorguille

relocate: summary
  tools/xcms/abims_xcms_summary.xml
  tools/xcms/static/images/xcms_summary_workflow.png
  tools/xcms/test-data/faahKO-single.xset.merged.group.retcor.group.fillpeaks.RData
  tools/xcms/test-data/faahKO-single.xset.merged.group.retcor.group.fillpeaks.summary.html
  tools/xcms/xcms_summary.r
  tools/xcms_summary/.shed.yml
  tools/xcms_summary/README.rst
  tools/xcms_summary/lib.r
  tools/xcms_summary/macros.xml
  tools/xcms_summary/macros_xcms.xml
Owners: @lecorguille

relocate: msnbase_readmsdata
  tools/msnbase_readmsdata/.shed.yml
  tools/msnbase_readmsdata/README.rst
  tools/msnbase_readmsdata/lib.r
  tools/msnbase_readmsdata/macros.xml
  tools/msnbase_readmsdata/macros_msnbase.xml
  tools/msnbase_readmsdata/test-data/faahKO_reduce.zip
  tools/msnbase_readmsdata/test-data/ko15.CDF
  tools/xcms/.shed.yml
  tools/xcms/macros_msnbase.xml
  tools/xcms/msnbase_readmsdata.r
  tools/xcms/msnbase_readmsdata.xml
  tools/xcms/static/images/msnbase_readmsdata_workflow.png
  tools/xcms/test-data/MM14.mzML
  tools/xcms/test-data/sampleMetadata.tsv
Owners: @lecorguille

relocate: move 'unused' scripts and test data
  tools/xcms/faahKO_4datasets.r
  tools/xcms/test-data/faahKO-single-class.xset.merged.RData
  tools/xcms/test-data/faahKO-single-class.xset.merged.group.retcor.group.fillpeaks.RData
  tools/xcms/test-data/wt15-raw.RData
  tools/xcms/test-data/wt16-raw.RData
  tools/xcms_repository_suite/.shed.yml
Owners: @lecorguille

more indentation fixes
  tools/xcms/faahKO_4datasets.r
  tools/xcms/lib.r
  tools/xcms/xcms_export_samplemetadata.r
  tools/xcms/xcms_group.r
  tools/xcms/xcms_summary.r
  tools/xcms/xcms_xcmsSet.r
Owners: @lecorguille

xcms: fix tool linting warnings/errors
  tools/xcms/.shed.yml
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/abims_xcms_summary.xml
  tools/xcms/msnbase_readmsdata.xml
  tools/xcms/xcms_export_samplemetadata.xml
  tools/xcms/xcms_merge.xml
  tools/xcms/xcms_plot_chromatogram.xml
Owners: @lecorguille
