Repository workflow4metabolomics/tools-metabolomics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hechth, @bgruening, @lecorguille, @melpetera, @ofilangi, @yguitton, @llegregam, @mtremblayfr

Fixed linting error
  tools/influx_data_manager/influx_data_manager.xml
Owners: @llegregam

wrapper lint
  tools/nmr_annotation2d/annotationRmn2DWrapper.R
Owners: @mtremblayfr, @lecorguille

fixed format for data param
  tools/influx_data_manager/influx_data_manager.xml
Owners: @llegregam

Added multiple file acceptance
  tools/influx_data_manager/influx_data_manager.xml
Owners: @llegregam

changed formats again
  tools/influx_data_manager/influx_data_manager.xml
Owners: @llegregam

Update wrapper to include v1.1.0
  tools/influx_data_manager/influx_data_manager.xml
Owners: @llegregam

cleaning code + no more dplyr + correct output format
  tools/parsec/parsec.R
  tools/parsec/test-data/corrected_output_test.txt
Owners: none

update description in .xml file
  tools/parsec/parsec.R
  tools/parsec/parsec.xml
Owners: none

minor fix
  tools/parsec/parsec.R
Owners: none

minor change in readme
  tools/parsec/README.md
Owners: none

Update badge link for Galaxy Tool LintingFix badge
  README.md
Owners: none

fix isoplot new R function
  tools/isoplot/.shed.yml
  tools/isoplot/isoplot.xml
  tools/isoplot/test-data/02_isoplot_metadata_small.csv
  tools/isoplot/test-data/02_isoplot_metadata_small.tsv
  tools/isoplot/test-data/02_isoplot_quantification_table_small.tsv
  tools/isoplot/test-data/data_out.csv
  tools/isoplot/test-data/input_data.csv
  tools/isoplot/test-data/input_template.xlsx
  tools/isoplot/test-data/isoplot_results.tgz
Owners: @llegregam

Update CI
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
Owners: none

Update CI (#394)
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
Owners: none

add profile + multiline commands
  tools/isoplot/isoplot.xml
Owners: @llegregam

final lint
  tools/nmr_preprocessing/ReadFids_script.R
Owners: @mtremblayfr, @lecorguille

Lint of the ReadFids_wrapper
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
Owners: @mtremblayfr, @lecorguille

lint of ReadFids_script
  tools/nmr_preprocessing/ReadFids_script.R
Owners: @mtremblayfr, @lecorguille

multiline commands + remove commented code
  tools/isoplot/isoplot.xml
Owners: @llegregam

add documentation + keep isoplot repo name
  tools/isoplot/.shed.yml
  tools/isoplot/isoplot.xml
Owners: @llegregam

use variable for output + misc
  tools/isoplot/isoplot.xml
Owners: @llegregam

checkpoint save
  tools/convex_dispersion/plot_convex_hull.R
  tools/convex_dispersion/plot_convex_hull.xml
Owners: none

typo
  tools/parsec/parsec.xml
Owners: none

typo in help section of xml
  tools/parsec/parsec.xml
Owners: none

fixing linting typo in parsec.R
  tools/parsec/parsec.R
Owners: none

still an error with comparing pdf / using mulled_containers throw a weird galaxy error
  tools/convex_dispersion/plot_convex_hull.R
  tools/convex_dispersion/plot_convex_hull.xml
Owners: none

update r-lme4 dependency version to 1.1.37 because previous didn't exist
  tools/parsec/parsec.xml
Owners: none

test pass when checking only file sizes
  tools/convex_dispersion/plot_convex_hull.R
  tools/convex_dispersion/plot_convex_hull.xml
  tools/convex_dispersion/test-data/expected_plot_int1.pdf
  tools/convex_dispersion/test-data/expected_plot_int2.pdf
  tools/convex_dispersion/test-data/expected_plots_all.pdf
Owners: none

update remote_repository_url in .shed.yml
  tools/parsec/.shed.yml
Owners: none

update remote_repository_url in .shed.yml
  tools/parsec/.shed.yml
Owners: none

Initial version ready to be checked
  tools/camera/CAMERA_annotateDiffreport.r
  tools/camera/CAMERA_combinexsAnnos.r
  tools/camera/CAMERA_findAdducts.R
  tools/camera/CAMERA_findIsotopes.R
  tools/camera/CAMERA_groupCorr.R
  tools/camera/CAMERA_groupFWHM.R
  tools/camera/lib.r
  tools/convex_dispersion/plot_convex_hull.R
  tools/convex_dispersion/plot_convex_hull.xml
  tools/convex_dispersion/test-data/expected_plot_int1.pdf
  tools/convex_dispersion/test-data/expected_plot_int2.pdf
  tools/convex_dispersion/test-data/expected_plots_all.pdf
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/abims_xcms_group.xml
  tools/xcms/xcms_fillpeaks.r
  tools/xcms/xcms_group.r
Owners: @lecorguille, @yguitton

renaming to batch_dispersion
  tools/batch_dispersion/.shed.yml
  tools/batch_dispersion/README.md
  tools/batch_dispersion/batch_dispersion.xml
  tools/batch_dispersion/convex_hull_analysis.R
  tools/batch_dispersion/test-data/convexdispersion_dataMatrix.txt
  tools/batch_dispersion/test-data/convexdispersion_sampleMetadata.txt
  tools/batch_dispersion/test-data/convexdispersion_variableMetadata.txt
  tools/batch_dispersion/test-data/expected_plot_int1.pdf
  tools/batch_dispersion/test-data/expected_plot_int2.pdf
  tools/batch_dispersion/test-data/expected_plots_all.pdf
Owners: none

adding some test-data & remote_repository_url
  tools/batch_dispersion/.shed.yml
  tools/batch_dispersion/test-data/expected_variable_metadata1.txt
  tools/batch_dispersion/test-data/expected_variable_metadata2.txt
  tools/batch_dispersion/test-data/expected_variable_metadata_all.txt
Owners: none

fixed linting R and xml
  tools/batch_dispersion/batch_dispersion.xml
  tools/batch_dispersion/convex_hull_analysis.R
Owners: none

revert accidental changes in xcms and camera tools, due to abusive use of project scope find/replace in pycharm
  tools/camera/CAMERA_annotateDiffreport.r
  tools/camera/CAMERA_combinexsAnnos.r
  tools/camera/CAMERA_findAdducts.R
  tools/camera/CAMERA_findIsotopes.R
  tools/camera/CAMERA_groupCorr.R
  tools/camera/CAMERA_groupFWHM.R
  tools/camera/lib.r
  tools/xcms/abims_xcms_fillPeaks.xml
  tools/xcms/abims_xcms_group.xml
  tools/xcms/xcms_fillpeaks.r
  tools/xcms/xcms_group.r
Owners: @lecorguille, @yguitton

relax size similairty of test pdf outputs
  tools/batch_dispersion/batch_dispersion.xml
  tools/batch_dispersion/test-data/expected_plot_int1.pdf
  tools/batch_dispersion/test-data/expected_plot_int2.pdf
  tools/batch_dispersion/test-data/expected_plots_all.pdf
Owners: none

test tests
  tools/batch_dispersion/batch_dispersion.xml
Owners: none

test tests again
  tools/batch_dispersion/batch_dispersion.xml
Owners: none

Update .shed.yml URL
  tools/nmr_preprocessing/.shed.yml
Owners: @mtremblayfr, @lecorguille

Update authors section in README.md
  tools/parsec/README.md
Owners: none

.github/CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/*                          @hechth @bgruening @lecorguille
tools/camera*/*                  @lecorguille
tools/correlation_analysis/*     @melpetera
tools/gcms2isocor/*              @ofilangi
tools/ipo*/*                     @lecorguille @yguitton
tools/isoplot/*                  @llegregam
tools/nmr*/*                     @mtremblayfr @lecorguille
tools/normalization/*            @mtremblayfr @lecorguille
tools/influx_data_manager/*      @llegregam
tools/physiofit/*                @llegregam
tools/physiofit_manager/*        @llegregam
tools/skyline2isocor/*           @llegregam
tools/xcms*/*                    @lecorguille @yguitton
