Repository workflow4metabolomics/tools-metabolomics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lecorguille, @melpetera, @mtremblayfr

.github/CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/camera*/*                  @lecorguille
tools/correlation_analysis/*     @melpetera
tools/nmr*/*                     @mtremblayfr @lecorguille
tools/normalization/*            @mtremblayfr @lecorguille
tools/xcms*/*                    @lecorguille

fix(xml:security): add quotes for security
  tools/ms2snoop/MS2snoop.xml
Owners: none

add information in the Shed yml file.
  tools/gcms2isocor/.shed.yml
  tools/gcms2isocor/gcms2isocor.xml
  tools/gcms2isocor/test-data/13CPROT1.txt
  tools/gcms2isocor/test-data/13CPROT2.txt
  tools/gcms2isocor/test-data/input_isocor.tsv
Owners: none

add missing jar
  tools/gcms2isocor/gcms2isocor.xml
Owners: none

rename .name to .element_identifier
  tools/camera_annotate/abims_CAMERA_annotateDiffreport.xml
  tools/camera_annotate/repository_dependencies.xml
  tools/camera_combinexsannos/abims_CAMERA_combinexsAnnos.xml
  tools/camera_combinexsannos/repository_dependencies.xml
  tools/camera_macro/macros.xml
  tools/camera_repository_suite/repository_dependencies.xml
  tools/influx_si/influx_si.xml
  tools/ipo/ipo4xcmsSet.xml
Owners: @lecorguille

lintr
  tools/camera_annotate/CAMERA_annotateDiffreport.r
  tools/camera_combinexsannos/CAMERA_combinexsAnnos.r
  tools/camera_macro/lib.r
  tools/ipo/ipo4retgroup.r
  tools/ipo/ipo4xcmsSet.r
  tools/ipo/lib.r
Owners: @lecorguille

restructure: camera annotate
  tools/camera/.shed.yml
  tools/camera/CAMERA_annotateDiffreport.r
  tools/camera/abims_CAMERA_annotateDiffreport.xml
  tools/camera/lib.r
  tools/camera/macros.xml
  tools/camera/static/images/annotate_workflow.png
  tools/camera/static/images/annotatediffreport_box.png
  tools/camera/static/images/annotatediffreport_box1.png
  tools/camera/static/images/annotatediffreport_dataMatrix.png
  tools/camera/static/images/annotatediffreport_eic.png
  tools/camera/static/images/annotatediffreport_eic1.png
  tools/camera/static/images/annotatediffreport_variableMetadata.png
  tools/camera/static/images/annotatediffreport_workflow.png
  tools/camera/test-data/CASMI_extended_NEG_rules.csv
  tools/camera/test-data/faahKO-single-class.xset.merged.group.retcor.group.fillpeaks.RData
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.rules.variableMetadata.tsv
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.variableMetadata.tsv
  tools/camera/test-data/ko15-raw.RData
  tools/camera/test-data/ko15-xset.RData
  tools/camera/test-data/ko15.CDF
  tools/camera/test-data/ko16-raw.RData
  tools/camera/test-data/ko16-xset.RData
  tools/camera/test-data/ko16.CDF
  tools/camera/test-data/wt15-raw.RData
  tools/camera/test-data/wt15-xset.RData
  tools/camera/test-data/wt15.CDF
  tools/camera/test-data/wt16-raw.RData
  tools/camera/test-data/wt16-xset.RData
  tools/camera/test-data/wt16.CDF
  tools/camera_annotate/.shed.yml
  tools/camera_annotate/README.rst
  tools/camera_annotate/lib.r
  tools/camera_annotate/macros.xml
  tools/camera_annotate/test-data/faahKO-single-class.xset.merged.group.retcor.group.fillpeaks.RData
  tools/camera_annotate/test-data/ko15.CDF
  tools/camera_annotate/test-data/ko16.CDF
  tools/camera_annotate/test-data/wt15.CDF
  tools/camera_annotate/test-data/wt16.CDF
Owners: @lecorguille

restructure: camera combinexsannos
  tools/camera/.shed.yml
  tools/camera/CAMERA_combinexsAnnos.r
  tools/camera/abims_CAMERA_combinexsAnnos.xml
  tools/camera/static/images/combinexsannos_variableMetadata.png
  tools/camera/static/images/combinexsannos_workflow.png
  tools/camera/static/images/combinexsannos_workflow_zoom.png
  tools/camera/test-data/faahOK.xset.group.retcor.group.fillPeaks.annotate.negative.Rdata
  tools/camera/test-data/faahOK.xset.group.retcor.group.fillPeaks.annotate.positive.Rdata
  tools/camera/test-data/faahOK.xset.group.retcor.group.fillPeaks.annotate.positive.combinexsAnnos.variableMetadata.tsv
  tools/camera_combinexsannos/.shed.yml
  tools/camera_combinexsannos/README.rst
  tools/camera_combinexsannos/lib.r
  tools/camera_combinexsannos/macros.xml
Owners: @lecorguille

restructure: camera suite
  tools/camera/.shed.yml
  tools/camera/test-data/CASMI_extended_POS_rules.csv
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.dataMatrix.tsv
  tools/camera/test-data/faahKO.xset.group.retcor.group.fillPeaks.annotate.rules.dataMatrix.tsv
  tools/camera_repository_suite/.shed.yml
  tools/camera_repository_suite/repository_dependencies.xml
Owners: @lecorguille

camera: fix tool linter warning
  tools/camera/abims_CAMERA_annotateDiffreport.xml
Owners: @lecorguille

fix r bug
  tools/ipo/lib.r
Owners: none

influs_si: fix tests
  tools/influx_si/influx_si.xml
Owners: none

Using docker env to override jar size limit above 2Mb
  tools/gcms2isocor/gcms2isocor.xml
Owners: none

initial commit of mzmine
  tools/mzmine/.shed.yml
  tools/mzmine/mzmine_batch.xml
  tools/mzmine/test-data/DOM_b.mzXML
  tools/mzmine/test-data/GNPS-FAULKNERLEGACY.json
  tools/mzmine/test-data/test_small.xml
Owners: none

fix shed.yml
  tools/mzmine/.shed.yml
Owners: none

some improvements
  tools/mzmine/mzmine_batch.xml
  tools/mzmine/test-data/test_small.xml
Owners: none

feat(tools:add): add new tool named KMD HMDB data plot v1.0.0
  tools/kmd_hmdb_data_plot/.shed.yml
  tools/kmd_hmdb_data_plot/kmd_hmdb_data_plot.xml
  tools/kmd_hmdb_data_plot/kmd_hmdb_interrogator.py
  tools/kmd_hmdb_data_plot/kmd_hmdb_plot_generator.py
  tools/kmd_hmdb_data_plot/macro.xml
Owners: none

Add min values for some parameters
  tools/nmr_annotation2d/annotationRmn2D_xml.xml
Owners: @mtremblayfr, @lecorguille

Change of tool version
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
Owners: none

Fixing bug of spectra graphs
  galaxy/nmr_bucketing/NmrBucketing_wrapper.R
Owners: none

Bugs fixing
  galaxy/nmr_bucketing/NmrBucketing_script.R
Owners: none

first commit
  NmrBucketing_script.R
  NmrBucketing_wrapper.R
  NmrBucketing_xml.xml
  ReadMe.txt
  static/images/MTH - Architecture repertoire Bruker.png
  static/images/Mth_Travaux.png
Owners: none

planemo tes using conda passed
  NmrBucketing_xml.xml
  galaxy/NmrBucketing_script.R
  galaxy/NmrBucketing_wrapper.R
  galaxy/NmrBucketing_xml.xml
  galaxy/ReadMe.txt
  galaxy/static/images/MTH - Architecture repertoire Bruker.png
  galaxy/static/images/Mth_Travaux.png
  galaxy/test-data/MTBLS1_bucketedData.tabular
  galaxy/test-data/MTBLS1_sampleMetadata.tabular
  galaxy/test-data/MTBLS1_variableMetadata.tabular
  galaxy/tool_test_output.html
  galaxy/tool_test_output.json
Owners: none

planemo shed_test passed
  galaxy/nmr_bucketing/README.rst
  galaxy/nmr_bucketing/planemo_test.sh
  galaxy/nmr_bucketing/tool_test_output.html
  galaxy/nmr_bucketing/tool_test_output.json
Owners: none

add tool_dep for pracma
  galaxy/nmr_bucketing/NmrBucketing_script.R
  galaxy/nmr_bucketing/NmrBucketing_wrapper.R
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
  galaxy/nmr_bucketing/ReadMe.txt
  galaxy/nmr_bucketing/repository_dependencies.xml
  galaxy/nmr_bucketing/static/images/MTH - Architecture repertoire Bruker.png
  galaxy/nmr_bucketing/static/images/Mth_Travaux.png
  galaxy/nmr_bucketing/test-data/MTBLS1_bucketedData.tabular
  galaxy/nmr_bucketing/test-data/MTBLS1_sampleMetadata.tabular
  galaxy/nmr_bucketing/test-data/MTBLS1_variableMetadata.tabular
  galaxy/nmr_bucketing/tool_dependencies.xml
  galaxy/nmr_bucketing/tool_test_output.html
  galaxy/nmr_bucketing/tool_test_output.json
  install/package_r_pracma/.shed.yml
  install/package_r_pracma/tool_dependencies.xml
Owners: none

README
  ReadMe.txt
Owners: none

add planemo test results ; change version ; add README.md
  galaxy/nmr_bucketing/MANUAL_INSTALL.txt
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
  galaxy/nmr_bucketing/README.rst
  galaxy/nmr_bucketing/planemo_test.sh
Owners: none

add .shed.yml
  galaxy/nmr_bucketing/.shed.yml
Owners: none

add info about conda
  README.md
Owners: none

Update NmrBucketing_xml.xml
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
Owners: none

x-axis customization: add chemical shift labels
  galaxy/nmr_bucketing/NmrBucketing_script.R
Owners: none

remove library upload
  galaxy/nmr_bucketing/NmrBucketing_wrapper.R
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
  galaxy/nmr_bucketing/tool_test_output.html
  galaxy/nmr_bucketing/tool_test_output.json
Owners: none

Help change: input type
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
Owners: none

Update .travis.yml
  .travis.yml
Owners: none

Removal of zero's for normalisation
  galaxy/nmr_bucketing/NmrBucketing_wrapper.R
Owners: none

Enhancement of output information: add of R package version
  galaxy/nmr_bucketing/NmrBucketing_wrapper.R
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
Owners: none

Version change
  galaxy/nmr_bucketing/NmrBucketing_xml.xml
Owners: none

File input type change to allow preprocessed file to be bucketed: add of a tsv file possibility
  galaxy/nmr_bucketing/NmrBucketing_wrapper.R
Owners: none

Update .travis.yml
  .travis.yml
Owners: none

minor change in travis.yml ; removing of deprecated files
  .travis.yml
  galaxy/nmr_bucketing/planemo_test.sh
  galaxy/nmr_bucketing/tool_dependencies.xml
Owners: none

remove the old tool_dependencies
  install/package_r_pracma/.shed.yml
  install/package_r_pracma/tool_dependencies.xml
Owners: none
