Repository workflow4metabolomics/tools-metabolomics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hechth, @bgruening, @lecorguille, @melpetera, @ofilangi, @yguitton, @llegregam, @mtremblayfr

.github/CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/*                          @hechth @bgruening @lecorguille
tools/camera*/*                  @lecorguille
tools/correlation_analysis/*     @melpetera
tools/gcms2isocor/*              @ofilangi
tools/ipo*/*                     @lecorguille @yguitton
tools/isoplot/*                  @llegregam
tools/nmr*/*                     @mtremblayfr @lecorguille
tools/normalization/*            @mtremblayfr @lecorguille
tools/influx_data_manager/*      @llegregam
tools/physiofit/*                @llegregam
tools/physiofit_manager/*        @llegregam
tools/skyline2isocor/*           @llegregam
tools/xcms*/*                    @lecorguille @yguitton

Add header comment to parsec.R script
  tools/parsec/parsec.R
Owners: none

CI - update from IUC
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_without_tool_change.yaml
Owners: none

CI - update from IUC (#396)
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_without_tool_change.yaml
Owners: none

Error on output names
  tools/nmr_preprocessing/ReadFids.xml
Owners: @mtremblayfr, @lecorguille

final lint
  tools/nmr_preprocessing/ReadFids_script.R
Owners: @mtremblayfr, @lecorguille

Lint
  tools/nmr_preprocessing/NmrPreprocessing.xml
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids.xml
  tools/nmr_preprocessing/ReadFids_script.R
  tools/nmr_preprocessing/ReadFids_wrapper.R
Owners: @mtremblayfr, @lecorguille

Change of tool version
  tools/nmr_preprocessing/macros.xml
Owners: @mtremblayfr, @lecorguille

Lint of R scripts
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids_script.R
Owners: @mtremblayfr, @lecorguille

lint of ReadFids_script
  tools/nmr_preprocessing/ReadFids_script.R
Owners: @mtremblayfr, @lecorguille

Lint of R scripts
  tools/nmr_preprocessing/DrawFunctions.R
Owners: @mtremblayfr, @lecorguille

Lint of the ReadFids_wrapper
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
Owners: @mtremblayfr, @lecorguille

Lint of R scripts
  tools/nmr_preprocessing/DrawFunctions.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids_wrapper.R
Owners: @mtremblayfr, @lecorguille

Change of output characteristics for tests
  tools/nmr_preprocessing/DrawFunctions.R
  tools/nmr_preprocessing/NmrPreprocessing.xml
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
Owners: @mtremblayfr, @lecorguille

lint of scripts for nmr_neo_reader
  tools/nmr_preprocessing/ReadFids_wrapper.R
Owners: @mtremblayfr, @lecorguille

Modify repository URL and add categories
  tools/nmr_preprocessing/.shed.yml
Owners: @mtremblayfr, @lecorguille

Update remote repository URL for nmr_preprocessing
  tools/nmr_preprocessing/.shed.yml
Owners: @mtremblayfr, @lecorguille

Changes of yml file
  tools/nmr_preprocessing/.shed.yml
Owners: @mtremblayfr, @lecorguille

Fix quoting for data matrix and sample metadata
  tools/nmr_preprocessing/NmrPreprocessing.xml
Owners: @mtremblayfr, @lecorguille

Linting of R scripts
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/ReadFids_script.R
Owners: @mtremblayfr, @lecorguille

Correction of bugs
  tools/nmr_preprocessing/NmrPreprocessing.xml
Owners: @mtremblayfr, @lecorguille

Script lint
  tools/nmr_preprocessing/NmrPreprocessing_script.R
Owners: @mtremblayfr, @lecorguille

Correction of bugs on 'assert_contents' for output files of tests and linting of the ReadFids script
  tools/nmr_preprocessing/ReadFids.xml
  tools/nmr_preprocessing/ReadFids_script.R
Owners: @mtremblayfr, @lecorguille

Simple quotes
  tools/nmr_preprocessing/ReadFids.xml
Owners: @mtremblayfr, @lecorguille

Modification of url in yml file
  tools/nmr_preprocessing/.shed.yml
Owners: @mtremblayfr, @lecorguille

Linting of Rscripts and requested changes for PR
  tools/nmr_preprocessing/NmrPreprocessing.xml
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids.xml
  tools/nmr_preprocessing/ReadFids_wrapper.R
Owners: @mtremblayfr, @lecorguille

Fix lint on xml
  tools/nmr_preprocessing/NmrPreprocessing.xml
Owners: @mtremblayfr, @lecorguille

Change of Galaxy version in ReadFids xml
  tools/nmr_preprocessing/ReadFids.xml
Owners: @mtremblayfr, @lecorguille

Apply styler formatting to nmr_preprocessing
  tools/nmr_preprocessing/DrawFunctions.R
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids_script.R
  tools/nmr_preprocessing/ReadFids_wrapper.R
Owners: @mtremblayfr, @lecorguille

Lint of R scripts
  tools/nmr_preprocessing/DrawFunctions.R
  tools/nmr_preprocessing/NmrPreprocessing_script.R
Owners: @mtremblayfr, @lecorguille

Correction of a bug on ouptut file size for tests
  tools/nmr_preprocessing/NmrPreprocessing.xml
Owners: @mtremblayfr, @lecorguille

Lint
  tools/nmr_preprocessing/DrawFunctions.R
Owners: @mtremblayfr, @lecorguille

Apply the rlint_report.txt patch
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids_script.R
  tools/nmr_preprocessing/ReadFids_wrapper.R
Owners: @mtremblayfr, @lecorguille

Add new feature to Nmr Preprocessing
  tools/nmr_preprocessing/.shed.yml
  tools/nmr_preprocessing/DrawFunctions.R
  tools/nmr_preprocessing/NmrPreprocessing.xml
  tools/nmr_preprocessing/NmrPreprocessing_script.R
  tools/nmr_preprocessing/NmrPreprocessing_wrapper.R
  tools/nmr_preprocessing/ReadFids.xml
  tools/nmr_preprocessing/ReadFids_script.R
  tools/nmr_preprocessing/ReadFids_wrapper.R
  tools/nmr_preprocessing/macros.xml
Owners: @mtremblayfr, @lecorguille

Fix CI repo owner
  .github/workflows/pr.yaml
Owners: none

format
  tools/tablemerge/tablemerge.xml
Owners: none

Updating tools/influx_si from version 7.0.1 to 7.4.3
  tools/influx_si/macros.xml
Owners: none

Updating tools/ipo from version 1.10.0 to 1.36.0
  tools/ipo/macros.xml
Owners: @lecorguille, @yguitton

Updating tools/xcms from version 4.4.0 to 4.8.0
  tools/xcms/abims_xcms_summary.xml
  tools/xcms/macros_xcms.xml
  tools/xcms/macros_xcms_plot.xml
Owners: @lecorguille, @yguitton

slight update to versioning scheme
  tools/parsec/parsec.xml
Owners: none

updated test data and relaxed test for pdf similarity
  tools/batch_dispersion/batch_dispersion.xml
  tools/batch_dispersion/test-data/expected_plot_int1.pdf
  tools/batch_dispersion/test-data/expected_plot_int2.pdf
  tools/batch_dispersion/test-data/expected_plots_all.pdf
Owners: none
